


.app-content{
	margin-left: 100px;
	margin-right: 3px;
	height: calc(100% - 50px);
	position: relative;
	margin-top: 50px;
	overflow: auto;
	transition: all 0.4s ease-in;
	z-index:1;
}

.app-content > div,
.app-content .app-content-in{
	width: 100% !important;


}

.app-content .breadcrumb{
	padding-left: 0;
	font-size: 15px;
	background: none;
	color: #4e4e4e;
	margin: 10px 0;
}


/* login page */

.loginwrapper{
	background: rgba(0,0,0,0.45) url(../images/loginbackground.jpg) no-repeat top center;
	background-size: cover;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.loginform{
	color: #4fc198;
	background: #fff;
	padding:22px 35px 20px;
	max-width: 358px;
	float: none;
	margin: 20px auto;
	width: 120%;
}

.loginform h3{
	font-weight: 600;
	margin-bottom: 33px;
}

.loginform .form-group{
	
}

.loginform input[type="email"]{
	background: url(../images/icon-user.png) no-repeat #fff;
}

.loginform input[type="text"]{
	background: url(../images/icon-user.png) no-repeat #fff;
}

.loginform input[type="password"]{
	background: url(../images/icon-lock.png) no-repeat #fff;
}

.loginform input[type="email"],
.loginform input[type="password"],.loginform input[type="text"]{
	padding-left: 0;
	background-position:  9px 3px;
	border: none;
	border-bottom: solid 1px #bebdbb;
	font-size: 1.28em;
	letter-spacing: 0.05em;
	font-weight: 300;
	height: auto;
	box-shadow: none;
}

.loginform .form-group .error{
	height: 1.143em;  /* 16px */
	text-align: left;
	padding-left: 49px;
	color: #da0000;
	line-height: 1.143em;  /* 16px */
}

.loginform-in button{
	background: #4fc198;
	color: #fff;
	font-size: 1em; /* 14px */
	border: solid 1px #5fb5ac;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.4s ease-in;
	width: 100%;
	padding: 13px 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-size: 15px;;
}

.loginform-in .loginbtnwrap{
	margin: 10px 0 15px;
}

.loginform-in button:hover,
.loginform-in button:focus{
	background:#58a59d;
	box-shadow: none;
	border-color: #58a59d;
}

.forgetpassword{
	font-size: 1.429em; /* 20px */
	margin: 26px 0 11px;
}

.loginmid-left{
	margin-top: 32px;
	margin-bottom: 30px;
}


.erMsg {
   color: red;
   font-size: 13px;
   font-style: bold;
   margin-left: 6px;
}

