

<div class="loginform">
<div class="text-center">
  <h4>SIGN IN</h4>
</div>  
  <div class="loginform-in">
  <form name="loginForm">
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="login.username" required/>
        <span class="erMsg" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
        <span ng-show="loginForm.email.$error.required">Email is required.</span>
        <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
        </span>
      </div>
      <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="login.password" ng-minlength="6" ng-maxlength="15" required/>
          <span class="erMsg" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
          <span ng-show="loginForm.password.$error.required">Password is required.</span>
          <span ng-show="loginForm.password.$error.minlength">Password is too short.</span>
          </span>


      </div>
      <div class="form-group loginbtnwrap">
          <button type="submit" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid">Sign IN</button>

      </div>
      <div class="text-center"><a ui-sref="register">Create Library</a></div>
  </form>
  </div>
</div>

