

<div class="loginform">
<div class="text-center">
  <h4>REGISTER</h4>
</div>  
  <div class="loginform-in">
  <form name="registerForm">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Name" ng-model="register.username" required/>
        <span class="erMsg" ng-show="registerForm.name.$dirty && registerForm.name.$invalid">
        <span ng-show="registerForm.name.$error.required">Email is required.</span>
        <span ng-show="registerForm.name.$error.email">Invalid email address.</span>
        </span>
      </div>

      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="register.email" required/>
        <span class="erMsg" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
        <span ng-show="loginForm.email.$error.required">Email is required.</span>
        <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
        </span>
      </div>

      <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="register.password" ng-minlength="6" ng-maxlength="15" required/>
          <span class="erMsg" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
          <span ng-show="loginForm.password.$error.required">Password is required.</span>
          <span ng-show="loginForm.password.$error.minlength">Password is too short.</span>
          </span>


      </div>
      <div class="form-group loginbtnwrap">
          <button type="submit" class="btn btn-success" ng-click="registerUser(register)" ng-disabled="registerForm.$invalid">Sign Up</button>
      </div>
          <div class="text-center"><a ui-sref="login">Already have a account?</a></div>
          <div class="text-center"><a ui-sref="login">Login</a></div>


      </form>
  </div>
</div>

